/*
* Bank: Vbank
* Author: Cleber Vilela
* Author URL: https://viliv.dev/
* Version: 1.0.0
*/

@font-face {
  font-family: 'zen_dotsregular';
  src: url('zendots-regular-webfont.woff2') format('woff2'),
       url('zendots-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
    background: #000000; 
    font-style: italic;  
}

#screen{
    background: #fcfcfc;
    color: #000000;
    font-style: italic; 
    font-size: small;
    max-width: 400px; 
    height: 300px;
    text-align: left;
}

/* 
body{
    background: #e9d995;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10%;
    padding: 0;
    text-align: center;
    position: absolute;
    display: grid;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
   */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'zen_dotsregular'; 
    font-style: italic;   
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    /* max-width: 1200px; */
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 17px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-h ul li a:hover {
    background-color: #dc9d50;
}

#menu-h ul li:last-child a {
    float: right;
    background-color: #dc9d50;
}
#container{
    margin-top: 2%;
    margin-bottom: 2%;
    display: block grid;
    text-align: center;
    /* position: absolute; */
    /* display: grid; */
    /* top: 0%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
#form{
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 500px;
    max-height: 500px;
    display: -webkit-flex;
    text-align: left;
}
#experience{
    width:25%; 
    height:60px; 
    font-size: larger;
}
#buttonhidden{
    display: none; 
}